<?xml version="1.0"?>

<model>
  <name>block_for_arm</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>NormanDong</name>
    <email>secret@gmail.com</email>
  </author>

  <description>
    A block for robot arm in course in NTHU PME
  </description>
</model>
